.balance-game {
  width: 328px;
  height: 147px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px 7px 0px 0px;
}
.balance-game__upper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  height: 14px;
  padding: 10px 0 0 0;
}
.balance-game__tag {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  /* or 11px */
  color: #a9a9a9;
}
.balance-game__heart {
  position: relative;
  top: 11px;
  left: 148px;
  cursor: pointer;
}
.balance-game__context {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #575757;
}
.balance-game__center {
  display: flex;
}
.balance-game__bar {
  width: 132px;
  height: 40px;
  border-radius: 30px 0px 0px 30px;
}
#left-bar {
  background: linear-gradient(90deg, #96d6df 0%, rgba(180, 239, 232, 0) 100%);
}
#right-bar {
  background: linear-gradient(
    90deg,
    #f1968a -3.03%,
    rgba(255, 133, 116, 0) 100%
  );
  transform: rotate(-180deg);
}
#right-bar > span {
  transform: rotate(-180deg);
}
