.discuss-result {
  margin-top: 16px;
  width: 332px;
}
.discuss-result-context {
  margin-top: 87px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #787878;
}
.discuss-result-indicate {
  margin-top: 21px;
  background: #f5f5f5;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  width: 190px;
  height: 124px;
}
.discuss-result-username {
  margin-top: 18px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #787878;
}
.discuss-result-open {
  margin-top: 13px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */

  text-align: center;

  /* font */

  color: #494949;
}
.discuss-result-statistic {
  margin-top: 42px;
  width: 90%;
}
.discuss-result-graph {
  width: 100%;
  height: 20px;
  background-color: #000;
  border-radius: 10px;
}
.discuss-result-flex {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  color: #494949;
  font-size: 14px;
  line-height: 16px;
}
.discuss-result-flex > strong {
  font-size: 32px;
  line-height: 38px;
}

.discuss-result-flex-container {
  width: 100%;
  justify-content: space-between;
}
