.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .modal button {
    outline: none;
    cursor: pointer;
    border: 0;
  }
  .modal > section {
    
    flex-flow: column wrap;
    justify-content: flex-start;
    width: 80%;
    max-width: 450px;
    background-color: #ffffff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.3s;
    overflow: hidden;
    height:100%;
  }
  .modal.openModal {
    display: flex;
    align-items: left;
    animation: modal-bg-show 0.3s;
  }
  @keyframes modal-show {
    from {
      opacity: 0;
      margin-left: -30px;
    }
    to {
      opacity: 1;
      margin-left: 0;
    }
  }
  @keyframes modal-bg-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .modal-userbox{
    width: 100%;
    height:30%;
    max-height: 200px;
    background-color: #cc0000;
    border-radius: 0px 0px 10px 10px;
  }
.modal-close{
  float:right;
  margin:10px;
  width:8px;
  height:8px;
}
  .modal-profile{
    background-color: #cc0000;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  .modal-profile-img{
    height:40px;
    margin:50px 0px 0px 10px;
    width:40px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.05);
  }
  .modal-profile-text{

    width: 155px;
    margin:50px 0px 0px 5px;
  }
  .modal-username{
      font-weight: 700;
font-size: 16px; 
color:white;

  }
  .modal-useremail{
    width: 155px;
    font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #FFFFFF;
  }