.vote {
  width: 328px;
  height: 47px;
  line-height: 47px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #787878;
  border-top: 1px solid #e4e4e4;
  border-radius: 0px 0px 7px 7px;
  text-align: center;
  cursor: pointer;
}
